<%= form_with model: cart, remote: true do |f| %>
  <%= f.hidden_field :product_id, value: cart.product_id %>
  <div class="input-group">
    <%= f.select :quantity, options_for_select(1..10, {selected: cart.quantity} ), class: "form-control" %>
    <%= f.submit "変更", class: "cart_in_btn" %>
  </div>
<% end %>