<section class="cart_product_section">
  <h3>ショッピングカート</h3>
  <div id="cart_product_wrapper">
    <%= render 'list', carts: @carts %>
  </div>
  <div class="cart_in_btn">
    <%= link_to "買い物を続ける", products_path, class: "btn btn-primary" %>
  </div>
</section>