.header {
  width: 100%;
  height: 120px;
  padding: 30px 30px;
  background-color: #EE9473;

  &__ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__li {
    list-style: none;
    margin-right: 20px;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & a {
    text-decoration: none;
    color: #000;
  }
}

.login_customer {
  margin: 0;
}

.search_form {
  display: flex;
  justify-content: flex-end
}