// Place all the styles related to the customer/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hero {
  background: url(/assets/line-new-top.svg) no-repeat top, url(/assets/line-new-bottom.svg) no-repeat bottom;
  background-size: 100% 50px;
  padding: 80px 0;
}

.swiper-slide {
  height: 370px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  background: #fff;
  box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);

  & .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(1.3);
    transition: transform 1.9s ease;
  }
  
  &-active {
    & .image {
      transform: none;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
  }
  &:hover {
   &::before {
     animation: shine .75s;
   }   
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.detail_badge {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: #fff;
  padding: 2px 10px;
  border-radius: 10px;
  color: #64340B;
}

.welcome_message {
  width: 470px;
  height: 316px;
  margin: 50px auto;
  background-image: url(/assets/bg-welcome-message.png);
  background-repeat: no-repeat;
}

.container {
  padding: 0;
  max-width: 100%;
  width: 1500px;
  margin: 0;
}

.about {
  &__wrapper {
    min-height: 1140px;
    text-align: center;
    background-image: url(/assets/bg-logo-about.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__title{
    font-size: 128px;
  }
  &__caption {
    font-size: 24px;
  }
  &__img {
    display: flex;
    justify-content: space-around;
  }
}

.store_info {
  width: 442px;
  background-image: url(/assets/bg-store-info.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.genre_search_wrapper {
  margin-top: 50px;
  border: 1px solid #64340B;
  color: #64340B;
  border-radius: 10px;
  & a {
    color: #64340B;
  }
}
.genre_search_title {
  text-align: center;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #64340B;
  color: #fff;
}

.genre_search_link {
  font-size: 16px;
}

.products_index_link {
  display: block;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

.products_index_btn {
   font-size: 24px;
   color: #64340B;
   position: relative;
   text-decoration: none;

  &::after {
    position: absolute;
    bottom: 6px;
    left: 0px;
    content: "";
    width: 100%;
    height: 2px;
    transform: scale(0, 1);
    transform-origin: left top;
    background: #64340B;;
    transition: transform 0.3s;
  }
  
  &:hover {
    color: #64340B;
    &::after {
      transform: scale(1, 1);
    }
  }
}
