// Place all the styles related to the customer/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brown: #64340B;
$table: #9c1e1e8f;

@mixin brown-btn {
  display: inline-block;
  background: $brown;
  border: 1px solid $brown;
  box-sizing: border-box;
  padding: 0 2% 0 2%;
  color: #fff;
  text-decoration: none;
  transition-duration: 0.2s;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

@mixin skelton-btn {
  display: inline-block;
  border: 1px solid $brown;
  box-sizing: border-box;
  padding: 0 2% 0 2%;
  color: $brown;
  text-decoration: none;
  transition-duration: 0.2s;
  &:hover {
    background: $brown;
    color: #fff;
    text-decoration: none;
  }
}

table {
  width: 100%;
  th{
    background: $table;
    color: #fff;
    padding-left: 10px;
  }
  td{
    padding-left: 7px;
  }
}

// 注文一覧画面
.orders {
  th {
    border: 1px solid $brown;
  }
  td {
    border: 1px solid $brown;
  }
  &__others {
    width: 10%;
    text-align: center;
  }
  &__address {
    text-align: left;
  }
  &__product {
    width: 15%;
    text-align: center;
  }
  &__btn {
    @include brown-btn;
  }
}

// 注文完了画面
.thank_box {
  text-align: center;
  height: 450px;
  padding-top: 120px;
}