<div class="hero">
  <div class="swiper">
    <div class="swiper-wrapper">
      <% products.each do |product| %>
        <div class="swiper-slide">
          <%= link_to product_path(product.id) do %>
            <%= attachment_image_tag(product, :image, fallback: "cake-dummy.jpg") %>
            <span class="detail_badge"><%= product.name %> &yen<%= product.tax_included_price.to_s(:delimited)%></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>  
</div>