<div id="product_wrapper", class="customers-background">
  <h3 class="title">Product</h3>
  <p class="sub-title">商品一覧</p>
  <h4 class="products_count">(全<%= @total_products %>件)</h4>
  <%= render 'list', products: @products %>
</div>