<div class="row">
  <div class="col-md-3">
    <%= render 'customer/homes/genre_search', genres: @genres %>
  </div>
  <div class="col-md-8 offset-md-1">
    <%= render 'detail', product: @product, cart: @cart %>
  </div>
</div>