<style>
  .footer {
    height: 150px;
    padding: 0 30px;
    background-color: #EE9473;
  }
  .footer__nav {
  }
  .footer__nav a {
    text-decoration: none;
    color: #000;
  }

  .footer__nav ul {
    margin: 0;
    padding: 0;
  }
  .footer__nav li {
    list-style: none;
    margin-right: 20px;
  }
  .footer__copyright {
    text-align: center;
    margin-top: 30px;
  }


</style>


<footer class="footer">
  <nav class="footer__nav">
    <ul class="footer__ul">
      <li class="footer__li"><a href="#">プライバシーポリシー</a></li>
      <li class="footer__li"><a href="#">お支払方法について</a></li>
      <li class="footer__li"><a href="#">配達について</a></li>
      <li class="footer__li"><a href="#">特定商取引法に基づく表示</a></li>
    </ul>
    <div class="footer__copyright">
      &copy; DMM WEBCAMP Quarter
    </div>
  </nav>
</footer>