// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sale {
  color: limegreen;
  font-weight: bold;
}

.sold_out {
  color: gray;
  font-weight: bold;
}
