<% unless products.blank? %>
  <% if @method == "keyword" %>
    <%= render "product", products: @result %>
  <% elsif @method == "customer" %>
    <%= render "order", products: @result %>
  <% end %>
<% else %>
  <p>該当項目が見つかりませんでした。</p>
<% end %>