<div id="delivery_wrapper", class="customers-background">
  <h3 class="title">Delivery Edit</h3>
  <p class="sub-title">配送先編集</p>
  <div class="edit_delivery_form">
    <p class="alert"><%= flash[:alert] %></p>
    <%= render 'form', delivery: @delivery %>
  </div>    
</div>